.button {
  font-size: 1em;
  color: white;
  background-color: rgb(40, 180, 133);
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0.6em 1em;
  cursor: pointer;
  transition: 0.3s opacity ease;
}

.button:hover,
.button:focus {
  opacity: 0.9;
}

.button:focus {
  box-shadow: 0 0 10px rgba(40, 180, 133, 0.9);
  outline: none;
}
