.button {
  font-size: 1em;
  color: white;
  background-color: rgb(40, 180, 133);
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0.6em 1em;
  cursor: pointer;
  transition: 0.3s opacity ease;

  &[data-color="blue"] {
    background-color: #2563eb;
  }

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    box-shadow: 0 0 10px rgba(40, 180, 133, 0.9);
    outline: none;
    opacity: 0.9;

    &[data-color="blue"] {
      box-shadow: 0 0 10px #2563eb;
    }
  }
}
