#snipcart {
  --shadow-default: 0 20px 24px -20px rgba(0, 0, 0, 1),
    -10px 20px 24px -20px rgba(0, 0, 0, 0.4);

  // Default
  --bgColor-buttonPrimary: rgb(40, 180, 133);

  // Hover
  --bgColor-buttonPrimary-hover: rgba(40, 180, 133, 0.9);
  --shadow-buttonPrimary-hover: none;

  // Active
  --bgColor-buttonPrimary-active: rgba(40, 180, 133, 1.1);

  // Focus
  --bgColor-buttonPrimary-focus: rgba(40, 180, 133, 0.9);
  --shadow-buttonPrimary-focus: 0 0 10px rgba(40, 180, 133, 0.9);
}

.snipcart-sidecart--opened #__next {
  &:after {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.snipcart-item-line__remove {
  display: flex;
  justify-content: flex-end;
  button {
    font-size: 12px;
  }
}
