$color-link: blueviolet;

.products {
  list-style: none;
  margin: 3em 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3em;

  img {
    max-height: 200px;
  }

  h3 {
    font-size: 1.4em;
    margin: 0.4em 0 0 0;
  }

  p {
    margin: 0.4em 0 0 0;
  }

  button {
    margin: 0.5em 0 0 0;
  }
}

.groceryIsActive {
  // border: solid 3px #1e40af;
}

.groceries {
  ul {
    margin-top: 0;
    display: flex;
    gap: 0.5rem;
  }
}

.discover {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 1.2em;
  }
}

.search {
  input {
    border-radius: 5px;
    padding: 0.6em 1em;
    border: solid 3px #2563eb;

    &:focus {
      outline: none;
      border: solid 3px #1d4ed8;
      box-shadow: 0 0 10px #2563eb;
    }
  }
}
