.header {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)
  );
  color: white;

  p {
    margin: 0;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  font-size: 2em;
}

.headerCart {
  position: fixed;
  top: 1rem;
  right: 2.5rem;
  background-color: rgba(40, 180, 133);
  color: white;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 20%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s transform ease;

  &:hover {
    transform: scale(1.05);
  }

  button {
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: inherit;
    border: none;
    cursor: pointer;

    svg {
      margin-right: 0.5em;
    }
  }
}
